<% 
	_locals.bodyClass = 'bg-white';
%> 
<h1>Email</h1>

<div class="row">

	<div class="col-md-4 border-end g-0">
		<% for(var email of sentEmails.emails) { %>
			<% var sent = new Date(Date.parse(email.sent)) %>
		<div class="email-info p-2" data-email="<%= JSON.stringify(email) %>" onclick="showEmail(this)">
			<div class="heading-sm"><%= email.subject %></div>

			<div>
				to: <%= Array.isArray(email.to) ? email.to.join(', ') : email.to %>
				<div style="float:right"><%= sent.toISOString() %></div>
			</div>
			<pre style="display:none"><%- JSON.stringify(email) %></pre>
		</div>
		<% } %>
	</div>

	<div class="col" id="emailDisplay">

		<h3 id="emailSubject"></h3>
		<div>From: <span id="emailFrom" class="text-muted"></span></div>
		<div>To: <span id="emailTo" class="text-muted"></span></div>
		<div id="emailText" class="my-3 border-top border-bottom py-3"></div>

		<div class="mt-4">
			<a href="javascript:;" class="small" id="toggleRaw">Show data</a>
			<div id="emailRawJson" class="rounded bg-light p-3"></div>
		</div>
	</div>

</div>

<style>
	.email-info {
		font-size: 14px;
		transition: background-color .2s;
		cursor: pointer;
		border-left: 2px solid transparent;
	}

	.email-info.selected {
		border-color: blue;
	}

	.email-info:hover {
		background-color: #f1f6f6;
	}

	#emailDisplay {
		display: none;
	}

	#emailText {
		font-family: monospace;
		white-space: pre-wrap;
	}

	#emailRawJson {
		font-family: monospace;
		white-space: pre-wrap;
		font-size: 14px;
		display: none;
	}
</style>

<script>
	var emailDisplay = document.getElementById('emailDisplay');
	var emailSubject = document.getElementById('emailSubject');
	var emailFrom = document.getElementById('emailFrom');
	var emailTo = document.getElementById('emailTo');
	var emailText = document.getElementById('emailText');

	var toggleRaw = document.getElementById('toggleRaw');
	var emailRawJson = document.getElementById('emailRawJson');

	function showEmail(el) {
		var selected = document.querySelector('.email-info.selected');
		if(selected) {
			selected.classList.remove('selected');
		}
		el.classList.add('selected');

		var email = JSON.parse(el.dataset['email']);

		var textWithLinks = email.text.replace(/((https?:\/\/)|(\w+\.\w+))[^\s]+/g, function(m, p1) {
			return `<a href="${m}" target="_blank">${m}</a>`;
		});

		emailDisplay.style.display = 'block';
		emailSubject.textContent = email.subject;
		emailFrom.textContent = email.from;
		emailTo.textContent = email.to;
		emailText.innerHTML = textWithLinks;
		emailRawJson.textContent = JSON.stringify(email, null, 4);

		toggleRawJson(false);
	}

	function toggleRawJson(visible) {
		if(visible === undefined) {
			visible = emailRawJson.style.display == 'none';
		}
		toggleRaw.textContent = visible ? 'Hide data' : 'Show data';
		emailRawJson.style.display = visible ? 'block' : 'none';
	}

	toggleRaw.addEventListener('click', function() { toggleRawJson(); });

</script>