<!DOCTYPE html>
<html lang="en">
<head>
	<title><%= _locals.title ? _locals.title + ' - ': '' %>Pluribus</title>
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="/css/main.css?v=1" />
	<link rel="stylesheet" href="/css/todo.css?v=6" />
</head>
<body class="<%= _locals.bodyClass %>">
	<%- include('_nav') %>
		
	<div class="container mt-4">
		<%- include('../_flash') %>
		<%- body %>
	</div>

	<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
	<%- script %>
</body>
</html>