<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<title><%= _locals.title ? (_locals.title != 'Pluribus' ? _locals.title + ' - Pluribus' : _locals.title) : 'Pluribus' %></title>
		<link rel="stylesheet" href="/css/main.css?v=1" />
		<link rel="stylesheet" href="/css/pages/dash.css" />
		<link rel="stylesheet" href="/css/todo.css?v=3" />
		<meta name="theme-color" content="#5257f7">
		<% if(_locals.headScripts) { %>
			<% _locals.headScripts.forEach(src => { %>
		<script src="<%= src %>"></script>
			<% }) %>
		<% } %>
	</head>
	<body class="<%= _locals.bodyClass %>">
		<% /* Header */ %>
		<%- include('_header') %>

		<div class="dash-grid">

			<% /* Side navigation */ %>
			<% if(!_locals.noSidenav) { %>
			<%- include('_sidenav') %>
			<% } %>

			<div class="content">
				<div class="inner-content">
	
					<div class="main-content" role="main">
						<%- include('../_flash') %>
						<%- body %>
					</div>

					<% if(locals.aside) { %>
						<aside class="side-content">
							<div class="card">
								<div class="card-body flow">
									<%- defineContent('aside') %>
								</div>
							</div>
						</aside>
					<% } %>
					

				</div>
			</div>

		</div>

		<svg id="loading-svg" width="112px" height="22px" viewBox="0 0 112 44">
			<g id="page-loading" stroke="none" fill="none" fill-rule="evenodd">
				<circle style="--order:0" cx="11" cy="11" r="9"></circle>
				<circle style="--order:1" cx="41" cy="11" r="9"></circle>
				<circle style="--order:2" cx="71" cy="11" r="9"></circle>
				<circle style="--order:3" cx="101" cy="11" r="9"></circle>
			</g>
		</svg>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
		<%- script %>

		<%- include('../_footer') %>
	</body>
</html>