<!DOCTYPE html>
<html>
	<head>
		<title><%= _locals.title ? (_locals.title != 'Pluribus' ? _locals.title + ' - Pluribus' : _locals.title) : 'Pluribus' %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1" />
		<link rel="stylesheet" href="/css/main.css" />
		<link rel="stylesheet" href="/css/todo.css" />

		<style>
			.navbar {
				box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.12);
				position: fixed;
				top: 0;
				width: 100%;
				z-index: 1;
			}
			.sidebar {
				display: flex;
				flex-direction: column;
				min-height: 100vh;
			}

			.sidebar nav {
				display: flex;
				flex-direction: column;
			}

			.sidebar nav a {
				text-decoration: none;
				color: var(--text-strong);
				padding: 17.5px 32px 17.5px 72px;
				position: relative;
			}

			.sidebar nav a:hover,
			.sidebar nav a.active {
				background-color: #f0f3f3;
				color: var(--bs-primary);
			}

			.sidebar a svg {
				position: absolute;
				width: 24px;
				height: 24px;
				left: 32px;
			}

			.sidebar-text {
				padding: 32px;
			}

		</style>
		<% if(_locals.headScripts) { %>
			<% _locals.headScripts.forEach(src => { %>
		<script src="<%= src %>"></script>
			<% }) %>
		<% } %>
	</head>
	<body class="<%= _locals.bodyClass %>">
		<div class="navbar navbar-expand-lg navbar-light bg-white">
			<div class="container-fluid">
				<a class="navbar-brand text-black ms-3" href="/">Pluribus.</a>
			</div>
		</div>
		<div class="container-fluid">
			<div class="row flex-nowrap">
				<% /* Side menu */ %>
				<div class="col-md-2 col-auto g-0">

					<div class="sidebar pt-5">
						<div class="sidebar-text">
							<div class="heading-md-medium">Hi</div>
							<div class="heading-xs-weak text-medium"><%= authUser.roles.includes('creator') ? 'Creator' : 'Supporter' %></div>
						</div>			
						<nav class="flex-column">
							<a href="/dashboard" class="<%= _locals.nav == 'home' ? 'active' : '' %>"><svg><use href="/images/ui/icons.svg#home"></use></svg>Home</a>
							<a href="/dashboard/profile" class="<%= _locals.nav == 'profile' ? 'active' : '' %>"><svg><use href="/images/ui/icons.svg#profile"></use></svg>Profile</a>
							<a href="#"><svg><use href="/images/ui/icons.svg#lock"></use></svg>Login &amp; security</a>
							<a href="/dashboard/payments" class="<%= _locals.nav == 'payments' ? 'active' : '' %>"><svg><use href="/images/ui/icons.svg#credit-card"></use></svg>Payments</a>
							<a href="#"><svg><use href="/images/ui/icons.svg#globe-alt"></use></svg>Settings</a>
							<a href="#"><svg><use href="/images/ui/icons.svg#stack"></use></svg>Referral program</a>
							<a href="#"><svg><use href="/images/ui/icons.svg#website"></use></svg>Policy</a>
						</nav>

						<nav style="margin-top:auto;">
							<a href="/users/logout"><svg><use href="/images/ui/icons.svg#log-out"></use></svg>Log out</a>
						</nav>
					</div>
					
				</div>

				<% /* Content area*/ %>
				<div class="col bg-light p-5 mt-5">
					<%- include('../_flash') %>
					<%- body %>
				</div>				
			</div>
		</div>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
		<%- script %>
	</body>
</html>