<!DOCTYPE html>
<html lang="en">
	<head>
		<title><%= _locals.title ? (_locals.title != 'Pluribus' ? _locals.title + ' - Pluribus' : _locals.title) : 'Pluribus' %></title>
		<meta name="viewport" content="width=device-width, initial-scale=1">
		<link rel="stylesheet" href="/css/main.css?v=1" />
		<link rel="stylesheet" href="/css/todo.css?v=3" />
		<%- defineContent('head') %>
	</head>
	<body class="<%= _locals.bodyClass %>">
		
		<% if(!_locals.noNav) { %>
			<%- include('_nav') %>
		<% } else { %>
			<%- include('_nonav') %>
		<% } %>
		
		<%- include('_flash') %>
		<%- body %>

		<%- include('_footer') %>

		<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.bundle.min.js"></script>
		<%- script %>
		
		<svg id="loading-svg" width="112px" height="22px" viewBox="0 0 112 44">
			<g id="page-loading" stroke="none" fill="none" fill-rule="evenodd">
				<circle style="--order:0" cx="11" cy="11" r="9"></circle>
				<circle style="--order:1" cx="41" cy="11" r="9"></circle>
				<circle style="--order:2" cx="71" cy="11" r="9"></circle>
				<circle style="--order:3" cx="101" cy="11" r="9"></circle>
			</g>
		</svg>
	</body>
</html>