<div class="row">
	<div class="col-md-8">
		<a href="/admin/creators">Creators</a> &gt;
		<h1><%= creator.name %></h1>
		<div>
			<% if(creator.stripeSubscriptionId) { %>
				<span class="badge bg-primary fw-normal">subscribed</span>
			<% } else { %>
				<span class="badge bg-dark fw-normal">not subscribed</span>
			<% } %>
			<% if(creator.stripeConnectedAccountId) { %>
				<span class="badge bg-success fw-normal">stripe connected</span>
			<% } else { %>
				<span class="badge bg-dark fw-normal">stripe not connected</span>
			<% } %>
		</div>
		<p><%= creator.about %></p>

		<h3>Profile</h3>
		<div>
		<% if(creator.publicProfile) { %>
			<a href="/creators/<%= creator.id %>"><%= `${req.protocol}://${req.get('host')}/creators/${creator.id}` %></a>
			<span class="badge bg-primary fw-normal">public</span>
		<% } else { %>
			<a href="/invite/<%= encodeURIComponent(creator.inviteCode) %>"><%= `${req.protocol}://${req.get('host')}/invite/${encodeURIComponent(creator.inviteCode)}` %></a>
			<span class="badge bg-dark fw-normal">private</span>
		<% } %>
		</div>
		
	</div>
	<div class="col">
		<form method="post" action="/admin/creators/<%= creator.id %>/delete" onsubmit="return confirm('Really delete this creator?');">
			<%- csrfToken() %>
			<button class="btn btn-sm small btn-danger">Delete</button>
		</form>
	</div>
</div>